body {
    background-color: black;
    color: white;
}
.Main{
    display: flex;
}
.Maindiv{
    text-align: center;
    margin: 200px auto ;
    width: 50%;
}
.image{
    width: 50% ;
}

img {
    
    width: 400px;
   
    
    

}